repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.8
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix , --select, E4,E5,E7,E9,F,I ]

    # Run the formatter.
    - id: ruff-format
